@charset "UTF-8";
* {
	margin: 0;
}

.d-none {
	display: none;
}

.site-identity {
	width: 154px;
	height: 152px;
	margin: 0 auto;
}

.site-visual {	
	background-color: rgb(0, 111, 255); /* 배경-색상: 화면가득 채우는 파랑색 */
	background-image: url("../images/visual-wide.png"); /* 배경-이미지: url(이미지 파일의 경로, 이름, 형식) */
	background-repeat: no-repeat; /* 배경-반복: 안함 */
	background-position: center center;
}
.model {
	width: 800px;
	margin: 0 auto;
	text-align: right;	
}

.site-nav {
	background-color: black; /* #000 or rgb(0,0,0) */
	color: white;
	padding: .8rem 0; /* 안여백 : 상하 16x0.8 픽셀 만큼 적용 */
	text-align: center;
}

a {
	color: inherit; /* 글자-색상: 상속(부모의 색상으로) */
	text-decoration: none;	
}
.site-nav a {
	margin: 0 .5rem;
}
.site-nav a:hover { /* Pseudo-class Selector : 가상 선택자 */
	color: #01ccff;
}

table, th, td {
	border: 1px solid #333;
	border-collapse: collapse;
}
th,td {
	padding: .7rem 0;
	text-align: center;	
}
caption {
	font-size: 1.125em; /* px -> % */
	font-weight: bold; /* 글꼴-두께: 굵게 */
	margin-bottom: 1em;
}
.enter-fee, .daily-casting {
	width: 600px; /* Q. 가로는 어떻게?? 블럭요소 100%, 인라인 요소는 컨텐츠 만큼 */
	margin: 50px auto 30px;
	/* Q. 그럼 세로는?? Auto로 설정!*/
}
.enter-fee th, .daily-casting th {
	width:25%;
}
.daily-casting td {
	width: 75%;
	text-align: left;
	padding: 0 0 0 3em;
}
.valign-middle {
	vertical-align: middle; /* 테이블, 인라인 요소의 수직 정렬에만 사용 */
}
.cell-bg {
	background-color: #ffeded;
}

.site-subnav {
	color: #666;
	font-size: 13px;
	background-color: #fafafa;
	text-align: center;
	padding: 1rem 0;
	border-top: 1px solid #666;
}
.site-subnav a {
	margin-right: 1rem;
}
.site-subnav a:hover {
	text-decoration: underline;
}

.site-info {
	background-color: #000;
	font-size: 81.25%;
	text-align: center;	
}

.site-info p {
	color: #666;
	margin: 0 0 1rem 0;
}



@media screen and (max-width: 768px){
	body {
		background-color: gold;
	}
}
@media screen and (max-width: 420px){
	body {
		background-color: lime;
	}
}
/* Q. width: 360일대 body의 배경색상을 pink로 지정해보세요! */
@media screen and (max-width: 360px){
	body {
		background-color: pink;
	}
	.site-visual {
		display: none; /*표시 : 안함 */
	}
}




